/* Add CSS Styling */

.odd {
    background-color: #d88fa7;
    font-family: 'Verdana', 'DejaVu', sans-serif;
}

#two {
    color: #151bdd;
    font-size: 36px;
}

.odd.three {
    font-size: 24px;
}

#four {
    background: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
