/* Add CSS Styling */
.first {
    background-color: black;
    color: white;
}

.second {
    background-color: yellow;
}

.button {
    font-family: Helvetica, 'Times New Roman', sans-serif;
    font-size: 28px;
}

